@{
    ViewData["Title"] = "Welcome!";

}
@{
    var txt = "";
    if (DateTime.Now.Hour > 12)
    { txt = "Good Evening"; }
    else
    { txt = "Good Morning"; }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It is @txt on @DateTime.Now.ToString("dddd, d, MMMM.")</p>
</div>
